* {
  	box-sizing: border-box;
}
body {
  	  background-color: #435165;
	  font-family: Arial;
	  margin: 0;
	  font-size: large;
	  min-height: 100%;
	  position:relative;
}
  /* Header/Title */
  .header {
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
  }
body h2, h3, p, table{
	text-align: center;
}
label, input{
	width:100%;
}
.form{
	width: 100%;
	display: grid;
	place-items: center;

}
.button{
    width: 100%;
    background-color:gray;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
}
  /* Footer */
  .footer {
	color: white;
    padding: 10px;
    text-align: center;
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

